<%- include('partials/header.ejs') %>

  <div  class="first container">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div id="home" class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.ncipher.com/sites/default/files/inline-images/banking-customer-trust-blog-image.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="text-white">Banking System</h1>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://www.themsrgroup.com/wp-content/uploads/2018/03/Importance-of-Customer-Satisfaction-in-Banking.jpg" class="d-block w-100" alt="...">
            
          </div>
          <div class="carousel-item">
            <img src="https://gunnebocdnprod01.azureedge.net/medialibrary/Sites/business-units/cashmanagement/Images/Stock%20images/cash%20handling%20in%20banks%204-3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; color: black;">Provides best guidance and detailed information to customers</h2>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <hr>
      <div class=" container aboutslide  jumbotron" id="about" style="padding-top: 10px;margin-top: 10px;">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
        <p style="font-family: 'EB Garamond', serif; line-height: 35px;">
            A bank is a financial institution that accepts deposits from the public and creates a demand deposit while simultaneously making loans.[1] Lending activities can be performed either directly or indirectly through capital markets.
            Due to the importance of banks in the financial stability of a country, most jurisdictions exercise a high degree of regulation over banks. Most countries have institutionalized a system known as fractional reserve banking, under which banks hold liquid assets equal to only a portion of their current liabilities. In addition to other regulations intended to ensure liquidity, banks are generally subject to minimum capital requirements based on an international set of capital standards, the Basel Accords.
            Banking in its modern sense evolved in the fourteenth century in the prosperous cities of Renaissance Italy but in many ways functioned as a continuation of ideas and concepts of credit and lending that had their roots in the ancient world. In the history of banking, a number of banking dynasties — notably, the Medicis, the Fuggers, the Welsers, the Berenbergs, and the Rothschilds — have played a central role over many centuries. The oldest existing retail bank is Banca Monte dei Paschi di Siena (founded in 1472), while the oldest existing merchant bank is Berenberg Bank (founded in 1590).
        </p>
      </div>
      <hr>
      <div  id="map" class="mapslide"> 
        <img src="https://londonroadsafetycouncil.org.uk/wp-content/uploads/2017/05/Bank-Junction.jpg"  style="width:100%">
      </div>
  </div>


<%- include('partials/footer.ejs') %>
